<!--// $Id$ //-->
<table class="lmsbox lms-ui-sortable lms-ui-tab-container" id="gpon-nokia-onu-lastauth">
	<thead>
		<tr class="hand lmsbox-titlebar" data-lmsbox-content="gpon-nokia-onu-lastauth-panel">
			<td>
				{icon name="radius" class="fa-fw lms-ui-sortable-handle"}
				<strong>{trans("Last RADIUS authorizations")}</strong>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr id="gpon-nokia-onu-lastauth-panel" style="display: none;">
			<td>
				<table class="lmsbox-inner lms-ui-background-cycle">
					<thead>
						<tr class="dark">
							<td>
								<strong>{trans("Date")}</strong>
							</td>
							<td>
								<strong>{trans("NAS IP")}</strong>
							</td>
							<td>
								<strong>{trans("Olt Id")}</strong>
							</td>
							<td>
								<strong>{trans("ONU ID")}</strong>
							</td>
							<td>
								<strong>{trans("Version")}</strong>
							</td>
						</tr>
					</thead>
					<tbody>
						{foreach array_slice($onulastauth, 0, 15) as $onulastauthitem}
							<tr class="highlight">
								<td>
									{$onulastauthitem.time|date_format:"Y-m-d H:i:s"}
								</td>
								<td>
									{$onulastauthitem.nas}
								</td>
								<td>
									{$onulastauthitem.oltport}
								</td>
								<td>
									{$onulastauthitem.onuoltid}
								</td>
								<td>
									{$onulastauthitem.version}
								</td>
							</tr>
						{/foreach}
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<script>

	if (getStorageItem('gpon-nokia-onu-lastauth-panel', 'local') == '1') {
		$('#gpon-nokia-onu-lastauth-panel').show();
	}

</script>
